/* style.css */
html {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    font-family: Courier, monospace;
    font-size: 16px;
    font-weight: 400;
    transition: background-color 0.3s ease, color 0.3s ease;
}

main {
    width: 90%;
    max-width: 550px;
    padding: 0 15px;
    border: 1px solid #000;
    transform-style: preserve-3d;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
    margin-top: 20px;
}

h1 {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    left: 0;
    font-size: 1em;
}

h1 img {
    width: 1em;
    height: auto;
}

.swing {
    animation: swing 0.3s alternate-reverse ease-in-out infinite;
}

@keyframes swing {
    0% {
        transform: translate3d(0, 0, 100px);
    }
    100% {
        transform: translate3d(15px, 0, 100px);
    }
}

strong {
    font-weight: 700;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 0;
}

ul ul {
    margin-left: 20px;
}

p, h2, ul, summary, span {
    line-height: 1.5;
    transform: translateZ(100px);
    transition: color 0.3s ease;
}

h2 {
    margin: 0 0 0.5em;
    font-size: 1em;
}

iframe {
    width: 100%;
    aspect-ratio: 16/9;
}

.unreleased {
    opacity: 0.5;
    filter: blur(2px);
}

/* Dark Mode Styles */
body.dark-mode {
    background-color: #1a1a1a;
    color: #eee;
}

body.dark-mode main {
    border-color: #eee; /* White border in dark mode */
}

body.dark-mode a {
    color: #ffffff;
    transition: color 0.3s ease;
}

body.dark-mode a:hover {
    color: #4eafff;
}

/* Light Mode Link Styles */
a {
    color: rgb(0, 0, 0);
    transition: color 0.3s ease;
}

a:hover {
    color: rgb(255, 0, 0);
}

@media (min-width: 45em) {
    main {
        max-width: 590px;
    }
}

@media (max-width: 768px) {
    h1 {
        flex-direction: column;
        text-align: center;
    }
}

/* Theme Toggle Button Styles */
#theme-toggle-container {
    display: flex;
    justify-content: right; /* Align  */
    margin-bottom: 20px;
    transform-style: preserve-3d;
    padding-left: 15px;
    box-sizing: border-box;
}

#theme-toggle {
    padding: 10px 20px;
    border: 1px solid #000;
    background-color: transparent;
    font-family: Courier, monospace;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
    transform: translateZ(100px);
}

body.dark-mode #theme-toggle {
    border-color: #eee; /* White border in dark mode */
    color: #eee;
}

#theme-toggle:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

body.dark-mode #theme-toggle:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

hr {
    margin: 10px 0; /* Added some margin for spacing */
    border: none;
    border-top: 1px solid #000; /* Default black color */
    transition: border-color 0.3s ease; /* Smooth transition for color change */
    transform-style: preserve-3d;
}

body.dark-mode hr {
    border-color: #eee; /* White color in dark mode */
}
